#image{
    display: block;  /*this displays an element in a new line and takes up the whole width */
    width: 100%;
}

#container{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#link-image{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    font-size: 20px;
}

#button, #button_search{
    position: relative;
    width: 45%;
    border-radius: 5px;
    height: 30px;
    margin: 1px;
    bottom: 80px;
}

#search{
    position: relative;
    /*display elements in the center*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}